<div class="w3-row-padding">
  <div class="w3-col m12">
    <div class="w3-card w3-round w3-white">
      <div class="w3-container w3-padding">
        <h6 class="w3-opacity">Whats on your mind today</h6>

        <label class="w3-text-blue"><b>Title</b></label>
        <input id="title" #title type="text" [(ngModel)]="post.title" class="w3-input w3-border" placeholder="Enter title">

        <label class="w3-text-blue"><b>Content</b></label>
        <input id="title" #content type="text" [(ngModel)]="post.content" class="w3-input w3-border" placeholder="Enter content">

        <br>
        <button type="button" (click)="addPost()" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button>
      </div>
    </div>
  </div>
</div>
